.topColor{
    background-color: #08526d;
    
}

.t-color{
    color: #08526d;
}
.t-border{
    border-color: #08526d;
    border: 2px;
}

.over-color{
    background: #f0f5f7;
}

.get {
    color: white;
  }
  
  .navbar {
    background-color: #f8f9fa;
  }
  
  .navbar img {
    max-height: 50px;
    max-width: 100%;
  }
  
  .navbar-toggler-icon {
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }
  
  .navbar-collapse {
    display: none;
    flex-basis: 100%;
    justify-content: flex-end;
  }
  
  .navbar-toggle {
    display: none;
  }
  
  .navbar-collapse.show {
    display: flex;
  }
  
  .navbar-nav {
    flex-direction: row;
    gap: 10px;
  }
  
  .nav-link {
    color: #212529;
    text-decoration: none;
  }
  
  .navbar-nav .nav-item .nav-link:hover p {
    color: red;
  }
  
  .navbar {
    background-color: #08526d;
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-contact span {
    margin-right: 10px;
  }
  
  .navbar-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
  }
  
  .navbar-actions .action-button {
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid red;
  }
  
  .t-color {
    color: #212529;
  }
  
  .text-danger {
    color: #dc3545;
  }
  
  .small {
    font-size: 15px;
  }
  


  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  
  .dev {
    height: 100vh;
    position: relative;
  }
  

  /* Container for the slider */
  .slider {
    display: block;
    overflow: hidden;
  }

  /* Individual slide item */
  .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px; /* Adjust the height as needed */
    width: 100%; /* Adjust the width as needed */
  }
  
  .slider-primary{
    width:100%;
    margin:auto;
    overflow: hidden;
    position: relative;
  }
  
  
  .slider-secondary{
    width:100%;
    height:600px;
    position:relative;
    overflow:hidden;
    float:left;
  
  }
  
  .slider-secondary img{
    display:none;
    width:100%;
    height:100%;
  }
  
  .slider-secondary img.current{
    display:inline-block;
  }
  
  .previous {
    margin-left: 35px;
    z-index: 100;
  }
  
  .next {
    margin-left: -65px;
    z-index: 100;
  }
  
  .slider-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: blue;
  }
  /* CSS for the images inside the slide */
  .slide img {
    max-width: 100%;
    max-height: 100%;
  }

  .slider {
    position: relative;
  }

  .slider .slide {
    position: relative;
  }

  .slider .slide img {
    display: block;
    width: 100%;
    height: auto;
  }

  .slider .slide .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust overlay color and opacity */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .slider .slide:hover .overlay {
    opacity: 1;
  }

  .slider .slide .container {
    max-width: 800px;
    text-align: center;
  }

  .slider .slide #typed {
    opacity: 0;
    animation: fadeInUp 0.8s ease;
  }
  
.bton{
    display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: none;
        
        border: none;
        border-radius: 4px;
        cursor: pointer;
}

.bttn{
    display: inline;
    /* padding: auto; */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: 3px;
    border-color: #08526d;
    border-radius: 2px;
}

.s-image{
    height: 70vh;
    width: 98vw;
    background: url('assets/images/testimonial-bg.png');
    background-size: cover;
    position: relative;
    z-index: 1;
}

.s-image::after{
    content: "";
    clear: both;
    display: block;

    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.man {
    background-image: url("assets/images/man.png");
    background-size: cover;
    background-position: left;
    margin: 0;
    padding: 0;
    height: 100%; 
    width: 50vw;
    z-index: 1;
}
.manbehind{
 z-index: -1;
 /* margin-left: -15px;
 margin-right: -15px; */
}

.btn{
    border-radius: 0;
    transition: all 0.3s;
}

.btn:hover{
    transform: scale(1.1);
}


.card{
    transition: all 0.3s;

}

.card:hover{
    transform: scale(1.05);
}
.card .card-header {
    transition: all;
  }
  
  .card:hover .card-header {
    background-color: red;
    color: white;
  }
  .card:hover .card-header h2{
    color: white;
  }

  .card:hover a {
    background-color: #08526d  !important;
}

.section {
    height: 250px;
  }

  .image-container {
    position: relative;
  }
  
  .hover-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .image-container:hover .hover-icon {
    opacity: 1;
  }
  
  .hover-icon i {
    font-size: 24px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 50%;
  }
  
